body
{
	
	margin: 0;
	margin-top: 40px;
	background-color: #fff;
	font-family: 'Noto Sans', sans-serif;
	letter-spacing:0px;
	
  
  
}

}

.cv
{
	width: 990px;
	background-color:#fff;

	
}
header
{
	width: 990px;
	height: 116px;
	background-color: #343434;
	color: #fff;
	
}

main
{
	
}

footer
{
	
	width: 990px;
	background-color: #fff;
	clear: both;
	
}

#headbox
{
	padding: 25px 25px 0 25px;
	
}

.name
{
	font-weight: 700;
	font-style: normal;
	font-size: 40px;
	line-height: 44px;
	
}

.title
{
	font-size: 22px;
	line-height: 24.2px;
	font-style: italic;
	margin-top: 7px;

}

.experience
{
	width: 643px;
	float: left;
	padding-left: 25px;
	padding-right: 25px;

}

.personal
{
	background-color: #f4f4f4;
	width: 247px;
	float: left;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 2px;
	height: 1200px;
}

.head
{
	width: 100%;
	line-height: 26px;
	margin-bottom: 10px;
	clear:both;
	border-bottom-color: rgb(213, 214, 214);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #232323;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
	padding-top: 15px;
}

.databox
{
	width: 15%;
	float: left;
}

.infobox
{
	width: 85%;
	float: left;
	margin-bottom: 15px;
	
}

.date
{
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 22.5px;
	
	
}

.company
{
	line-height: 25.5px;
	font-size: 17px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.5px;
	
	
}

.state
{
	line-height: 22.5px;
	font-size: 15px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 0px;
	
}

.info
{
	line-height: 22.5px;
	font-size: 15px;
	letter-spacing: 0px;
}

.department
{
	line-height: 22.5px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0px;
	
}

.image
{
	height: 317px;
	width: 247px;
	margin-top: 25px;
}

.what
{
	line-height: 22.5px;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
}

.detail
{
	line-height: 22.5px;
	font-size: 15px;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 10px;
}

.text
{
	line-height: 27px;
	font-size: 15px;
	font-style: italic;
	
}

.language
{
	
}

.lang
{
	font-size: 15px;
	font-weight: 400;
	line-height: 22.5px;
	font-style: italic;
}


.vis
{
	text-align: right;
	width: 100%
}

.level
{
	font-size: 13px;
	line-height: 19.5px;
	text-align: right;
	clear:both;
}

.clause
{
	font-size: 8px;
	line-height: 12px;
	text-align: left;
	padding-left: 50px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 40px;
	
	
	
}



